[submodule "lib/base32"]
	path = lib/base32
	url = git@github.com:ChristianRiesen/base32.git
[submodule "lib/hash_equals"]
	path = lib/hash_equals
	url = git@github.com:znk3r/hash_equals.git
[submodule "lib/otphp"]
	path = lib/otphp
	url = git@github.com:Spomky-Labs/otphp.git
[submodule "lib/parsedown"]
	path = lib/parsedown
	url = git@github.com:erusev/parsedown.git
[submodule "halfmoon"]
	path = halfmoon
	url = git@github.com:jcs/halfmoon.git
