/* application css */

/* force a vertical scrollbar on firefox to avoid page-shifting */
html {
	overflow: -moz-scrollbars-vertical !important;
}

body, textarea.variable {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 9pt;
}

textarea.fixed {
	font-family: monospace;
	font-size: 8pt;
}

/* default form styling */

input,
button,
select,
textarea {
	color: #555;
	background-color: white;
	line-height: 1.2em;
	padding: 3px 5px;
}
textarea {
	line-height: 1.35em;
	resize: vertical;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea {
	border: 1px solid #ccc;
}
input:focus, textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}
input[type="checkbox"] {
	margin-top: 0.5em;
}
select {
	border: 1px solid #ccc;
}
input:focus,
textarea:focus {
	border-color: #888;
	color: #303030;
	background-color: white;
	outline: 0;
}
textarea:disabled {
	background-color: #f0f0f0;
}


input[type="submit"]:focus,
button:focus {
	border-color: #888;
	outline: 1px solid #888;
}

/* these must be separate */
::-webkit-input-placeholder {
	color: #aaa;
	font-style: italic;
}
:-moz-placeholder {
	color: #aaa;
	font-style: italic;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
div.select2-choices {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	cursor: pointer;
}
button:first-child,
input[type="button"]:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child {
	margin-left: 0;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
}

select {
	margin-top: 3px;
	min-width: 100px;
}
select:focus {
	border-color: rgba(160,160,160,.8);
	color: #303030;
	outline: 0;
}
select::-moz-focus-inner {
	border: 0;
	outline: 0;
}

div.field_with_errors {
	display: inline;
}

div.field_with_errors input[type="text"],
div.field_with_errors input[type="email"],
div.field_with_errors input[type="password"] {
	border: 1px solid red;
}
div.field_with_errors input:focus {
	border-color: rgba(255,0,0,.8);
}

input:disabled, button:disabled {
	background-color: #e9e9e9;
	color: gray;
}

a {
	color: #3672cb;
}

/*
a:visited {
	color: #83a0cb;
}
*/

ol li {
	margin-bottom: 0.5em;
}

ul.ds li, ol.ds li {
	margin-bottom: 1em;
}

ul.ss li, ol.ss li {
	margin-bottom: 0;
}


h2, h2 input[type="text"] {
	margin: 0px;
	padding: 0px;
	font-size: 16pt;
	font-weight: bold;
}
div.h2desc {
	margin: 0px;
	padding: 0px;
	color: gray;
	font-style: italic;
}
div.h2desc a {
	color: gray;
	text-decoration: none;
}

span.na {
	color: gray;
	font-style: italic;
}

div.clear {
	clear: both;
}

div.s {
	height: 1px;
}

div#wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}
div#inside {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

div#header {
	background-color: #444;
	color: white;
	padding: 5px 8px;
}
div#subheader {
	background-color: #ddd;
	color: gray;
	padding: 5px 8px;
	margin-bottom: 1em;
	font-size: 9pt;
}
div#subheader a {
	color: gray;
	font-weight: bold;
}

div#header h2 {
	margin: 2px 0px 0px 0px;
	padding: 0px;
}
div#header h2 a {
	color: white;
	text-decoration: none;
}

div#headerright {
	float: right;
	font-size: 9pt;
	text-align: right;
}

div#headerright a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

div#footer {
	border-top: 2px solid lightgray;
	clear: both;
	color: gray;
	font-size: 8pt;
	font-style: italic;
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: right;
}
div#footer a {
	color: gray;
	text-decoration: none;
}

div.itemwrapper.expired {
	opacity: 0.3;
}

a.pagelink {
	border: 1px solid #ddd;
	background-color: #fbfbfb;
	padding: 4px 8px;
}
a.pagelink.curpage {
	border: 1px solid gray;
	background-color: white;
	font-weight: bold;
}

tr.unread {
	background-color: #ffff67; 
}

tr.expired {
	opacity: 0.5;
}
tr.expired td, tr.expired td a {
	text-decoration: line-through;
}

td.close_to_expiring {
	color: red;
	font-weight: bold;
}


table.data caption {
	font-weight: bold;
	text-align: left;
	padding-bottom: 3px;
}
table.data .capright {
	float: right;
}

table.data th {
	background-color: #eaeaea;
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
	padding: 3px;
	padding-left: 3px;
	text-align: left;
}
table.data th img {
	vertical-align: middle;
	margin-bottom: 5px;
}

table.data th.r, table.data td.r {
	text-align: right;
	padding-right: 3px;
}

table.data td {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 3px;
}
table.data td img {
	vertical-align: middle;
	padding-left: 2px;
}

table.thread td {
	padding: 0px 0px 0px 3px;
	margin-bottom: 0px;
	line-height: 17px;
	/* text-vertical-align: middle; */
	overflow: hidden;
}
table.thread td img {
	vertical-align: middle;
}

table.data tr.row0 td {
	background-color: white;
	border-bottom: 1px solid #eaeaea;
}
table.data tr.row1 td {
	background-color: #f9f9f9;
	border-bottom: 1px solid #eaeaea;
}
table.data tr.nobottom td {
	border-bottom: 0px;
	padding-bottom: 0px;
}

table.data tr.void td, table.data tr.void td a {
	text-decoration: line-through;
	color: gray !important;
}


/* boxes */
.box {
	border: 0;
	margin: 0 40px;
	padding: 0;
}
.box_submitter {
	border: 1px solid #cacaca;
	border-top: 0px;
	background-color: #eaeaea;
	padding: 1em;
}
.box_submitter input {
	width: 10em;
}

.box .legend {
	background-color: white;
	margin-bottom: 1em;
	padding: 0;
	font-weight: bold;
	font-size: 11pt;
}
.box .sublegend {
	font-size: 9.5pt;
	font-weight: normal;
	font-style: italic;
	color: gray;
}
.box .legend.right {
	float: right;
}

.box .boxtitle {
	background-color: #f0f0f0;
	border-bottom: 1px solid #cacaca;
	display: block;
	font-weight: bold;
	margin: -3px -7px 4px -7px;
	padding: 3px 5px 3px 5px;
}


fieldset.box {
	border: 1px solid #cacaca;
	padding: 4px 8px 8px 8px;
}
fieldset.box legend {
	border: 2px solid gray;
	background-color: white;
	padding: 4px 8px;
	font-weight: bold;
}
fieldset.box .boxtitle {
	background-color: #f0f0f0;
	border-bottom: 1px solid #cacaca;
	display: block;
	font-weight: bold;
	margin: -3px -7px 4px -7px;
	padding: 3px 5px 3px 5px;
}



.box label,
.box .label_holder {
	display: block;
	float: left;
	margin-bottom: 4px;
}

.box label.required {
	font-weight: bold;
}
.box img {
	vertical-align: middle;
}
.box label,
.box span,
.box select {
	line-height: 2em;
}
.box br {
	clear: left;
}
.box .boxline {
	clear: both;
	margin-bottom: 0.5em;
}
.box p {
	margin-top: 1em;
}

.box textarea {
	margin-bottom: 4px;
	width: 75%;
}

.box label,
.box .label_holder {
	width: 7em;
	line-height: 2em;
	vertical-align: middle;
}
.box div.d {
	margin-left: 7em;
	line-height: 2em;
}

.box input.normal,
.box label.normal {
	display: inline;
	float: none;
	vertical-align: middle;
}

.box span.d label,
.box td label,
.box .legend label,
.box div.d label {
	display: inline;
	float: none;
	vertical-align: baseline;
}

.box span.d a.tag {
	vertical-align: middle;
}

.box .label_holder label,
.box .label_holder input {
	line-height: 2.5em;
	vertical-align: middle;
}

.hint {
	color: gray;
	font-style: italic;
	margin-left: 1em;
}

.hintblock {
	color: gray;
	font-style: italic;
	margin-left: 7em;
}

.box.wide label,
.box.wide .label_holder {
	width: 12em;
}
.box.wide .hintblock {
	margin-left: 12em;
}
.box.wide div.d {
	margin-left: 12em;
}


/* for flash_errors(), flash_notices() and flash_successes() */
div.flash-error,
div.flash-notice,
div.flash-success {
	border: 2px solid;
	margin: 5px auto 10px auto;
	padding: 5px 10px;
	width: 75%;
}

div.flash-error {
	background-color: #ffe7e7;
	border-color: red;
}

div.flash-success {
	background-color: #e8ffe7;
	border-color: green;
}

div.flash-notice {
	background-color: #e0e2fc;
	border-color: blue;
}

/* for error_messages_for() */
div.fieldWithErrors {
	display: inline;
}

div.fieldWithErrors input,
div.fieldWithErrors select,
div.fieldWithErrors textarea {
	border: 2px solid red;
	padding: 2px;
}


.container {
	position:relative;
	z-index:1;
	margin:0 auto;
}

.container:after {
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	font-size:0;
}

.drop-shadow {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
	content:"";
	position:absolute; 
	z-index:-2;
}

.lifted {
	-moz-border-radius:4px; 
		 border-radius:4px;
}

.lifted:before,
.lifted:after { 
	bottom:15px;
	left:10px;
	width:50%;
	height:20%;
	max-width:300px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
	   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
			box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-3deg);    
	   -moz-transform:rotate(-3deg);   
		-ms-transform:rotate(-3deg);   
		 -o-transform:rotate(-3deg);
			transform:rotate(-3deg);
}

.lifted:after {
	right:10px; 
	left:auto;
	-webkit-transform:rotate(3deg);   
	   -moz-transform:rotate(3deg);  
		-ms-transform:rotate(3deg);  
		 -o-transform:rotate(3deg);
			transform:rotate(3deg);
}
